## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

country_list = ['India', 'Indonesia', 'Pakistan', 'Japan', 'Philippines', 'Viet Nam', 
                'Turkey', 'Iran', 'Thailand', 'Iraq', 'Malaysia', 'Nepal', 'Syria', 'Singapore', 'Kuwait']
#print(len(country_list))
population = np.random.randint(1000, size=len(country_list))
data = {'國家': country_list,
        '人口(萬)': population}
data = pd.DataFrame(data)
data
#print(data)

             國家  人口(萬)
0         India    665
1     Indonesia    298
2      Pakistan    377
3         Japan    777
4   Philippines    586
5      Viet Nam    879
6        Turkey    334
7          Iran    570
8      Thailand    633
9          Iraq     18
10     Malaysia    126
11        Nepal    222
12        Syria    793
13    Singapore     72
14       Kuwait    275

In [2]:
#求人口數最多的國家
idxmax = data['人口(萬)'].idxmax()
#print(f"人口最多的國家為:{data.iloc[idxmax]['國家']}, 人口數(萬):{data.iloc[idxmax]['人口(萬)']}")
#print(f"人口最多的國家為:{data['國家'].iloc[idxmax]}, 人口數(萬):{data['人口(萬)'].iloc[idxmax]}")
item = data.iloc[idxmax]
print(f"人口最多的國家為:{item['國家']}, 人口數(萬):{item['人口(萬)']}")

人口最多的國家為:Viet Nam, 人口數(萬):879